<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content-width="device-width", initial-scale="1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="main-theme">
    <form action="#" th:action="@{/finduser}" 
    th:object="${user}" 
    method="post">
    <label for="id">userId</label>
    <input type="text" th:field="*{id}" id="id" placeholder="id">
    <input type="submit" value="Find User">   
</form>
</body>
</html>