<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content-width="device-width", initial-scale="1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="main-theme">
    <!--Main title heading-->
    <center><h1>Welcome to Group 25's search engine!</h1></center>
    <center>
    <form action="/url" method="GET">
        <p>Please enter some text below:</p>
        <input type="text">
    </form>
    </center>
    <center><button type="button">Click Me!</button></center>
    <script src="interact_web.js"></script>
    <noscript>You need to enable Javascript to view the full site.</noscript>
    <center>
    <p>
    Try MONGO <a href="/find">click here</a> 
    
        <p>
    Try Lucene <a href="/lucene/query">click here</a> 
    </center>
</body>
</html>