<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content-width="device-width", initial-scale="1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body >
	<div><a href="/"><span class="material-icons home-icon">home</span></a></div>
    <form action="#" th:action="@{/adduser}" 
    th:object="${user}" 
    method="post">
    <label for="id">userId</label>
    <input type="text" th:field="*{id}" id="id" placeholder="id">
    <input type="submit" value="Add User">   
</form>
</body>
</html>