<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
<meta charset="UTF-8">
<meta name="viewport" content-width="device-width" , initial-scale="1.0">
<title>Search Engine</title>
<link rel="stylesheet" href="/main.css">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body class="h-100">
	<div><a href="/"><span class="material-icons home-icon">home</span></a></div>
	<div class="container h-50">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-lg-8">
				<div class="row justify-content-center">
					<h2>Lucene Search Query Form</h2>
				</div>
				<form action="#" th:action="@{/lucene/search}" th:object="${search}"
					method="post">
					<div class="form-group">
						<label for="content">Keyword(s):</label> <input
							class="form-control" type="text" th:field="*{content}"
							id="content" placeholder="Enter keyword(s)">
					</div>
					<div class="form-group">
						<label for="howMany">How Many:</label> <input class="form-control"
							type="text" th:field="*{howMany}" id="howMany"
							placeholder="Enter how many documents to return">

					</div>
					<div class="form-group">
						<button class="btn btn-default" type="submit">Submit</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>