<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content-width="device-width" , initial-scale="1.0">
<title>Search Engine</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Abel"
	rel="stylesheet">
<link rel="stylesheet" href="/explorer/css/styles-merged.css">
<link rel="stylesheet" href="/explorer/css/style.min.css">
<link rel="stylesheet" href="/explorer/css/custom.css">
</head>
<body>

	<header role="banner" class="probootstrap-header">
		<div class="container">
			<a href="/" class="probootstrap-logo">CS242 Final Project<span>.</span></a>

			<a href="#" class="probootstrap-burger-menu visible-xs"><i>Menu</i></a>
			<div class="mobile-menu-overlay"></div>

			<nav role="navigation" class="probootstrap-nav hidden-xs">
				<ul class="probootstrap-main-nav">
					<li class="active"><a href="/">Home</a></li>
					<li class="active"><a href="/about">About</a></li>
				</ul>

			</nav>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col">
				userId: <span class="user" th:text="${userId}"></span>

				<p>
				<div th:if="!${userId}" class="user">Not found.</div>
				<p>
				<div>
					<a href="/find">Find another user</a>
				</div>

				<div>
					<a href="/insert">Add a user</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="probootstrap-footer" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="probootstrap-copyright">
						&copy; 2017 <a href="https://uicookies.com/">uiCookies:Explorer</a>
						All Rights Reserved.
					</p>
					<ul class="probootstrap-social">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-facebook2"></i></a></li>
						<li><a href="#"><i class="icon-instagram2"></i></a></li>
						<li><a href="#"><i class="icon-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>